.modal {
 background-color: rgba(0,0,0,0.5);
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.modal-bg:not(.active) {
 display: none;
}

.modal-bg:not(.error) .error {
 display: none;
}


.modal-cont {
 position: absolute;
 background-color: var(--deepwhite);
 border-radius: 5px;
 padding: 50px;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 text-align: center;
 width: 450px;
 max-width: 90%;
}

.modal-cont .title {
 font-size: 3rem;
 font-weight: 700;
}

.modal-cont .btn {
 font: inherit;
 appearance: none;
 border: none;
 cursor: pointer;
}

.modal-cont .btn.confirm {
 background-color: var(--primary);
 border: 1px solid var(--primary);
 color: var(--deepwhite);
}

.modal-cont .btn.cancel {
 color: var(--primary);
}

.modal-cont .btn.confirm:hover {
 background-color: var(--primary-hover);
}