:root {
    --primary: #8c00ff;
    --primary-hover: #4f0abe;
    --secondary: #f4ecf5;
    --terciary: #f7eff7;
    --deepwhite: #ffffff;
    --deepblack: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    font-family: "Open-sans", sans-serif;
    background-color: var(--terciary);
}

h1, p, button {
    font-size: 1.6rem;
}

/* GENERIC */
.btn {
    appearance: none;
    font: inherit;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn.full {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--deepwhite);
}

.btn.empty {
    color: var(--primary);
}
   
.btn.full:hover {
    background-color: var(--primary-hover);
}

/* HEADER */
#main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--deepwhite);
    height: 200px;
}

.main-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.main-header p {
    margin: 0;
}

/* MAIN CONTENT */

#configuration-container {
    text-align: center;
}

.main-content {
    padding: 100px;
}

.players-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* PLAYER CARD */
.player {
    padding: 20px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
}

.player .number {
    color: var(--deepblack);
    font-size: 1.8rem;
}

.player .name {
    color: var(--primary);
    font-size: 2.4rem;
    font-weight: 700;
}

.player .symbol {
    color: var(--deepblack);
    font-size: 4rem;
    font-weight: 900;
}

.player .edit {
    color: var(--primary);
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* PLAYGRID */
.playboard {
    margin-top: 50px;
}

.playgrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    gap: 20px;
}

.playgrid .square {
    background-color: var(--primary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playgrid .symbol {
    color: var(--deepwhite);
    font-size: 5rem;
    font-weight: 600;
}

.playgrid .square:not(:hover) .symbol {
    display: none;
}

.playgrid .square:hover {
    background-color: red;
}